body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}





h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


.name-highlight{
    color: orange;
}

.introduction{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.description{
   
    color: rgb(106, 106, 106);
    font-family: 'Poppins', sans-serif;


}

.button{
    color: white;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    border: none;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    



}

.button:hover{
    opacity: 0.7;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.top-section{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

a{
    text-decoration: none;
    color: white;
}

.mid-section{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.single-experiences{
    box-shadow:10px 10px 40px grey;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}

.experiences-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

    
}

#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}

#baby-web{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}

footer{
    text-align: center;
    color:grey ;
}